# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Project Specific Line endings
*.crt   binary
*.stf   text
*.md    text
*.txt   text
*.tpl   text
*.py    text diff=python eol=lf
