.nav-link,
.btn-link {
    color: #88f387;
    text-decoration: none;
}

.nav-pills .nav-link.active {
    color: #000000;
    background-color: #88f387;
    border: #41a03f;
}

.nav-pills .nav-link:hover,
.btn:hover {
    color: #000000;
    background-color: #adf3ac;
    border-color: #41a03f;
}

a.text-light:hover,
.icon-green {
    color: #88f387 !important;
}

pre,
code {
    color: #88f387;
    background-color: #292929;
}

#printProgress {
    height: 40px;
}

.icon {
    display: block;
    height: 18px;
    width: 18px;
}

.icon-hotend:before {
    content: url(img/icon-hotend.svg);
}

.icon-bed:before {
    content: url(img/icon-bed.svg);
}

.icon-time-passed:before {
    content: url(img/icon-time-passed.svg);
}

.icon-time-remaining:before {
    content: url(img/icon-time-remaining.svg);
}

/* Bootstrap overrides */

.img-thumbnail {
    border: 0 none;
    padding: 0;
}
