/* Color scheme */

.nav-pills {
    --bs-nav-link-color: #88f387;

    --bs-nav-pills-link-active-color: #000000;
    --bs-nav-pills-link-active-bg: #88f387;

    --bs-nav-link-hover-color: #000000;
    --bs-nav-link-hover-bg: #adf3ac;
}

.btn {
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #adf3ac;

    --bs-btn-active-color: #000000;
    --bs-btn-active-bg: #adf3ac;
}

.progress-bar {
    --bs-progress-bar-bg: #41a03f;
}

footer .btn {
    --bs-btn-color: #88f387;
}

.icon-green {
    color: #88f387;
}

footer a {
    --bs-link-hover-color-rgb: 255, 255, 255;
    --bs-link-color-rgb: 136, 243, 135;
}

pre,
code {
    color: #88f387;
    background-color: #292929;
}

/* Layout */

#printProgress {
    height: 40px;
}

.icon {
    display: block;
    height: 18px;
    width: 18px;
}

.icon-hotend:before {
    content: url(img/icon-hotend.svg);
}

.icon-bed:before {
    content: url(img/icon-bed.svg);
}

.icon-time-passed:before {
    content: url(img/icon-time-passed.svg);
}

.icon-time-remaining:before {
    content: url(img/icon-time-remaining.svg);
}

/* Bootstrap overrides */

.img-thumbnail {
    border: 0 none;
    padding: 0;
}
