<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <svg
        class="bi me-2"
        width="100%"
        height="40px"
        viewBox="0 0 46 47"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xml:space="preserve"
        style="fill-rule: evenodd; clip-rule: evenodd; stroke-linejoin: round; stroke-miterlimit: 2"
    >
        <g>
            <path
                id="path1042"
                d="M22.621,46.99l-22.621,0l0,-4.488l8.497,-8.487c7.37,-7.361 8.552,-8.458 8.906,-8.264c0.225,0.123 1.868,1.698 3.651,3.499c2.764,2.792 3.21,3.335 3.021,3.678c-0.122,0.221 -0.917,1.088 -1.767,1.926c-0.85,0.839 -1.545,1.576 -1.545,1.639c-0,0.064 5.286,0.089 11.747,0.058c6.461,-0.032 11.969,-0.004 12.24,0.059l0.491,0.116l0,10.264l-22.62,0Zm10.382,-36.718c-6.732,0 -12.24,0.076 -12.24,0.17c0,0.094 0.738,0.902 1.639,1.798c0.958,0.951 1.64,1.811 1.64,2.068c-0,0.598 -6.286,6.892 -6.883,6.892c-0.289,0 -3.324,-2.883 -8.8,-8.361l-8.359,-8.361l0,-4.478l45.242,0l-0,10.272l-12.239,0Z"
                style="fill: #d40000; fill-rule: nonzero"
            />
            <path
                id="path1036"
                d="M19.502,23.431l7.021,-7.021l7.022,7.021l-7.022,7.022l-7.021,-7.022Z"
                style="fill: #d40000; fill-rule: nonzero"
            />
        </g>
    </svg>

    <span class="text-body-emphasis display-6">ankerctl</span>
</a>
<ul class="nav nav-pills" id="tab" role="tablist">
    {% if configure %}
    <li class="nav-item" role="presentation">
        <button
            class="nav-link{% if configure %} active{% endif %}"
            id="home-tab"
            data-bs-toggle="pill"
            data-bs-target="#home"
            type="button"
            role="tab"
            aria-controls="home"
            aria-selected="{% if configure %}true{% else %}false{% endif %}"
        >
            <i class="bi bi-house px-1"></i>Home
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button
            class="nav-link"
            id="instructions-tab"
            data-bs-toggle="pill"
            data-bs-target="#instructions"
            type="button"
            role="tab"
            aria-controls="instructions"
            aria-selected="false"
        >
            <i class="bi bi-list-check px-1"></i>Instructions
        </button>
    </li>
    {% endif %}
    <li class="nav-item" role="presentation">
        <button
            class="nav-link{% if not configure %} active{% endif %}"
            id="setup-tab"
            data-bs-toggle="pill"
            data-bs-target="#setup"
            type="button"
            role="tab"
            aria-controls="setup"
            aria-selected="{% if not configure %}true{% else %}false{% endif %}"
        >
            <i class="bi bi-gear-fill px-1"></i>Setup
        </button>
    </li>
</ul>
