<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>ankerctl</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='vendor/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='vendor/bootstrap-icons-1.10.5/font/bootstrap-icons.min.css') }}"
        />
        <link rel="stylesheet" href="{{ url_for('static', filename='ankersrv.css') }}" />
    </head>
    <body>
        <header class="container my-3">
            <div class="p-3 text-center bg-body-tertiary rounded-3">
                <h1 class="text-body-emphasis display-6">ankerctl</h1>
            </div>
        </header>
        <div class="container navigation">
            <ul class="nav nav-pills mb-3" id="tab" role="tablist">
                {% if configure %}
                <li class="nav-item" role="presentation">
                    <button
                        class="nav-link{% if configure %} active{% endif %}"
                        id="home-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#home"
                        type="button"
                        role="tab"
                        aria-controls="home"
                        aria-selected="{% if configure %}true{% else %}false{% endif %}"
                    >
                        <i class="bi bi-house"></i>&nbsp;Home
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button
                        class="nav-link"
                        id="instructions-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#instructions"
                        type="button"
                        role="tab"
                        aria-controls="instructions"
                        aria-selected="false"
                    >
                        <i class="bi bi-list-check"></i>&nbsp;Instructions
                    </button>
                </li>
                {% endif %}
                <li class="nav-item" role="presentation">
                    <button
                        class="nav-link{% if not configure %} active{% endif %}"
                        id="setup-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#setup"
                        type="button"
                        role="tab"
                        aria-controls="setup"
                        aria-selected="{% if not configure %}true{% else %}false{% endif %}"
                    >
                        <i class="bi bi-gear-fill"></i>&nbsp;Setup
                    </button>
                </li>
            </ul>
        </div>
        <div class="container text-center" id="messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
            <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %} {% for category, message in messages %}
            <div
                class="alert alert-{{ category }} alert-dismissible fade show d-flex align-items-center"
                data-timeout="7500"
                role="alert"
            >
                <button
                    type="button"
                    class="btn-close btn-sm btn-close-white"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                ></button>
                {{ message }}
            </div>
            {% endfor %} {% endif %} {% endwith %}
        </div>
        <div class="tab-content my-3" id="ankerctlContent">
            {% if configure %}
            <div
                class="tab-pane fade{% if configure %} show active{% endif %}"
                id="home"
                role="tabpanel"
                aria-labelledby="home-tab"
            >
                <div class="container">
                    <div class="row text-body-emphasis display-3">
                        <div class="col-lg-8 px-3 rounded-3">
                            <video class="w-100 rounded-3" playsinline autoplay muted id="player"></video>
                            <div id="overlay" class="col-md-12 px-3 rounded-3"></div>
                        </div>
                        <div class="col-lg-4 px-3 rounded-3">
                            <div class="row">
                                <div class="col-6 px-3">
                                    <button class="w-100 btn btn-primary" id="light-on">💡 Light on</button>
                                </div>
                                <div class="col-6 px-3">
                                    <button class="w-100 btn btn-secondary" id="light-off">💡 Light off</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 px-3">
                                    <button class="w-100 btn btn-primary" id="quality-low">💾 Quality: low</button>
                                </div>
                                <div class="col-6 px-3">
                                    <button class="w-100 btn btn-secondary" id="quality-high">📀 Quality: high</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="instructions" role="tabpanel" aria-labelledby="instructions-tab">
                <div class="container mb-4">
                    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xxl-2 g-3 p-2">
                        <div class="col-12 col-lg-12">
                            <h2 class="display-6 fs-2 mb-2">Connecting PrusaSlicer/SuperSlicer</h2>
                            <ol class="list-group list-group-numbered">
                                <li class="list-group-item">Go to "Printer settings" tab</li>
                                <li class="list-group-item">Click "Gear"⚙️ (Add/Edit Physical Printer)</li>
                                <li class="list-group-item">
                                    Fill in "Descriptive name for the printer" with whatever you like
                                </li>
                                <li class="list-group-item">
                                    Select your Ankermake printer instructions from the dropdown menu
                                </li>
                                <li class="list-group-item">Under "Host Type" select "OctoPrint"</li>
                                <li class="list-group-item">
                                    In "Hostname, IP or URL" fill in with:
                                    <kbd id="octoPrintHost">{{ request_host }}:{{ request_port }}</kbd>&nbsp;<button
                                        class="btn btn-secondary btn-sm"
                                        type="button"
                                        id="configData"
                                        data-toggle="tooltip"
                                        data-placement="button"
                                        title="Copy to Clipboard"
                                    >
                                        <span class="bi bi-clipboard-plus"></span>
                                    </button>
                                </li>
                                <li class="list-group-item">Leave "API Key / Password" blank</li>
                                <li class="list-group-item">Click "Test" to validate input</li>
                                <li class="list-group-item">Click "Ok" to close the window</li>
                                <li class="list-group-item">Slice your file as normal</li>
                                <li class="list-group-item">
                                    Click "G&#x3E;" button to start direct upload to the printer
                                </li>
                                <li class="list-group-item">
                                    Click "Upload and print" - the "Upload"-only is not supported
                                </li>
                                <li class="list-group-item">Enjoy printing with ankerctl 😉</li>
                            </ol>
                            <br /><span class="fw-light"
                                >Hint: <kbd>Ctrl+Shift+G</kbd> will slice and open the upload to printer window</span
                            >
                        </div>
                        <div class="col-12 col-lg-12 text-center">
                            <img src="/static/img/setup/prusaslicer-1.png" class="img-thumbnail" alt="step 1" />
                            <img src="/static/img/setup/prusaslicer-2.png" class="img-thumbnail mt-2" alt="step 2" />
                            <img src="/static/img/setup/prusaslicer-3.png" class="img-thumbnail mt-2" alt="step 3" />
                            <img src="/static/img/setup/prusaslicer-4.png" class="img-thumbnail mt-2" alt="step 4" />
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div
                class="tab-pane fade{% if not configure %} show active{% endif %}"
                id="setup"
                role="tabpanel"
                aria-labelledby="setup-tab"
            >
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <form
                                action="{{ url_for('app_api_web_config_upload') }}"
                                method="POST"
                                enctype="multipart/form-data"
                            >
                                <div class="mb-3" id="config-upload-form">
                                    <label for="loginFile" class="form-label">Upload AnkerMake Login File</label>
                                    <div class="input-group w-auto">
                                        <input class="form-control" type="file" id="loginFile" name="login_file" />
                                        <button class="btn btn-primary submit" type="submit" id="upload">
                                            <i class="bi bi-cloud-arrow-up-fill"></i>&nbsp;Upload
                                        </button>
                                    </div>
                                    <span class="form-label"
                                        >Location: <code id="loginFilePath">{{ login_file_path }}</code>&nbsp;
                                        <button
                                            class="btn btn-secondary btn-sm"
                                            type="button"
                                            id="copyFilePath"
                                            data-toggle="tooltip"
                                            data-placement="button"
                                            title="Copy to Clipboard"
                                        >
                                            <span class="bi bi-clipboard-plus"></span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-7">
                            <span class="mr-auto pl-4">
                                <label for="ankerctl-settings" class="form-label">AnkerMake M5 Config</label>
                                <code id="ankerctl-settings">
                                    {% autoescape false %} {{ anker_config }} {% endautoescape %}
                                </code>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="container my-3 text-center bg-body-tertiary rounded-3 text-center text-lg-start">
            <div class="p-1 text-center">
                &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script>
                Copyright:
                <a
                    class="text-light"
                    href="https://github.com/Ankermgmt/ankermake-m5-protocol"
                    alt="ankerctl"
                    rel="noopener noreferrer nofollow"
                    target="_blank"
                    >ankerctl</a
                ><br /><a
                    href="https://github.com/Ankermgmt/ankermake-m5-protocol"
                    class="btn btn-link btn-sm"
                    alt="View on GitHub"
                    rel="noopener noreferrer nofollow"
                    target="_blank"
                    ><i class="bi-github"></i> View on GitHub</a
                >
            </div>
        </footer>
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='vendor/bootstrap-5.3.0-alpha3-dist/js/bootstrap.bundle.min.js')}}"
        ></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/cash.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='vendor/jmuxer.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='ankersrv.js') }}"></script>
    </body>
</html>
