{% extends "base.html" %}
{% import "macro.html" as macro %}

{% block title -%}
    ankerctl{% if printer %} - {{ printer.name }} ({{ printer.sn }}){% endif %}
{%- endblock %}

{% block contents %}
    {% if configure %}
        {% include "tabs/home.html" %}
        {% include "tabs/instructions.html" %}
        {% include "tabs/print.html" %}
    {% endif %}

    {% include "tabs/setup.html" %}
{% endblock %}

{% block menu %}
    {% if configure %}
        {% call macro.menu_button(id="home-tab", target="home", active=configure) %}
            {{ macro.bi_icon("house", "Live") }}
        {% endcall %}

        {% call macro.menu_button(id="print-tab", target="print") %}
            {{ macro.bi_icon("file-earmark-arrow-up", "Print") }}
        {% endcall %}

        {% call macro.menu_button(id="instructions-tab", target="instructions") %}
            {{ macro.bi_icon("list-check", "Slicer") }}
        {% endcall %}
    {% endif %}

    {% call macro.menu_button(id="setup-tab", target="setup", active=not configure) %}
        {{ macro.bi_icon("gear-fill", "Setup") }}
    {% endcall %}
{% endblock %}
