{% macro static_script(url) -%}
    <script src="{{ url_for('static', filename=url) }}"></script>
{%- endmacro %}

{% macro static_css(url) -%}
    <link rel="stylesheet" href="{{ url_for('static', filename=url) }}" />
{%- endmacro %}

{% macro menu_button(id, target, active=False, toggle="pill") %}
    <li class="nav-item" role="presentation">
        <button
            class="btn btn-outline-primary nav-link{% if active %} active{% endif %}"
            id="{{id}}"
            data-bs-toggle="{{toggle}}"
            data-bs-target="#{{target}}"
            type="button"
            role="tab"
            aria-controls="home"
            aria-selected="{% if active %}true{% else %}false{% endif %}">
            {{ caller() }}
        </button>
    </li>
{% endmacro %}

{%- macro bi_icon(icon, text="", class="") -%}
    {%- if text -%}
        <i class="bi-{{icon}} px-1 {{class}}"></i>{{text}}
    {%- else -%}
        <i class="bi-{{icon}} {{class}}"></i>
    {%- endif -%}
{%- endmacro -%}

{% macro clipboard_button(src) %}
    <button
        class="btn btn-secondary btn-sm"
        type="button"
        data-toggle="tooltip"
        data-placement="button"
        data-clipboard-src="{{src}}"
        title="Copy to Clipboard"
        >
        {{ bi_icon("clipboard-plus") }}
    </button>
{% endmacro %}
