<div
    class="tab-pane fade{% if configure %} show active{% endif %}"
    id="home"
    role="tabpanel"
    aria-labelledby="home-tab"
>
    <div class="container">
        <div class="row g-3">
            <div class="col-md-12 col-lg-6 col-xl-8">
                {% if video_supported %}
                <!-- Video Container -->
                <video
                    class="w-100 d-block rounded-3 bg-body-tertiary"
                    playsinline
                    autoplay
                    muted
                    id="player"
                    poster="{{ url_for('static', filename='img/load-screen.svg') }}"
                >
                </video>
                {% else %}
                <div class="card">
                    <div class="card-body text-center">
                        <p class="display-1">
                            {{ macro.bi_icon("camera-video-off") }}
                        </p>
                        <p class="display-6">Camera not available</p>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-md-12 col-lg-6 col-xl-4">
                <div class="card">
                    {% if printer %}
                    <div class="card-header">
                        Connection
                    </div>
                    <div class="card-body fw-bold">
                        <div>
                            {{ printer.name }} ({{ printer.sn }})
                        </div>
                        <span id="badge-mqtt" class="badge">MQTT</span>
                        <span id="badge-pppp" class="badge">PPPP</span>
                        {% if video_supported %}
                        <span id="badge-video" class="badge">VIDEO</span>
                        {% endif %}
                        <span id="badge-ctrl" class="badge">CTRL</span>
                    </div>
                    {% endif %}
                    {% if video_supported %}
                    <div class="card-header fs-6">Video Controls</div>
                    <div class="card-body">
                        <div class="row g-3 mb-3">
                            <div class="col-6">
                                <button class="w-100 btn btn-secondary" id="light-on">
                                    {{ macro.bi_icon("lightbulb", "Light on") }}
                                </button>
                            </div>
                            <div class="col-6">
                                <button class="w-100 btn btn-secondary" id="light-off">
                                    {{ macro.bi_icon("lightbulb-off", "Light off") }}
                                </button>
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-6">
                                <button class="w-100 btn btn-secondary" id="quality-low">
                                    {{ macro.bi_icon("badge-sd", "SD Quality") }}
                                </button>
                            </div>
                            <div class="col-6">
                                <button class="w-100 btn btn-secondary" id="quality-high">
                                    {{ macro.bi_icon("badge-hd", "HD Quality") }}
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="card-header fs-6">Temperature</div>
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-text mx-auto" id="nozzleGroup">
                                        <i class="icon icon-hotend"></i>
                                    </div>
                                    <span
                                        id="nozzle-temp"
                                        class="form-control text-center"
                                        title="Current Nozzle Temperature"
                                        aria-describedby="nozzleGroup"
                                    >
                                        0°C
                                    </span>
                                    <input
                                        type="text"
                                        id="set-nozzle-temp"
                                        name="set-nozzle-temp"
                                        class="form-control text-center"
                                        value="0°C"
                                        title="Target Nozzle Temperature"
                                        aria-label="Target Nozzle Temperature"
                                        aria-describedby="nozzleGroup"
                                        disabled
                                        readonly
                                    />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-text mx-auto" id="bedGroup">
                                        <i class="icon icon-bed"></i>
                                    </div>
                                    <span
                                        id="bed-temp"
                                        class="form-control text-center"
                                        title="Current Bed Temperature"
                                        aria-describedby="bedGroup"
                                    >
                                        0°C
                                    </span>
                                    <input
                                        type="text"
                                        id="set-bed-temp"
                                        name="set-bed-temp"
                                        class="form-control text-center"
                                        value="0°C"
                                        title="Target Bed Temperature"
                                        aria-label="Target Bed Temperature"
                                        aria-describedby="bedGroup"
                                        disabled
                                        readonly
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-header fs-6">Print Progress</div>
                    <div class="card-body">
                        <div class="row mb-3 g-3">
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-text print-info-label" id="printName">Name</div>
                                    <span
                                        id="print-name"
                                        class="form-control"
                                        title="Print Name"
                                        aria-describedby="printName"
                                    >
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3 g-3">
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-text print-info-label" id="timeElapsed">
                                        <i class="icon icon-time-passed"></i>
                                    </div>
                                    <span
                                        id="time-elapsed"
                                        class="form-control text-center"
                                        title="Time Elapsed"
                                        aria-describedby="timeElapsed"
                                    >
                                        00:00:00
                                    </span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-text print-info-label" id="timeRemain">
                                        <i class="icon icon-time-remaining"></i>
                                    </div>
                                    <span
                                        id="time-remain"
                                        class="form-control text-center"
                                        title="Time Remaining"
                                        aria-describedby="timeRemain"
                                    >
                                        00:00:00
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3 g-3">
                            <div class="col-12">
                                <div class="progress position-relative" id="printProgress">
                                    <div
                                        class="progress-bar progress-bar-striped progress-bar-animated fs-5"
                                        role="progressbar"
                                        id="progressbar"
                                        title="Progress Bar"
                                        aria-valuenow="0"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        style="width: 0%"
                                    >
                                        <span id="progress" class="position-absolute w-100 fw-bold">
                                            0%
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-text print-info-label" id="printLayer">
                                        {{ macro.bi_icon("layers-half") }}
                                    </div>
                                    <span
                                        id="print-layer"
                                        class="form-control text-center"
                                        title="Print Layers"
                                        aria-describedby="printLayer"
                                    >
                                        0/0
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-text print-info-label" id="printSpeed">
                                        {{ macro.bi_icon("speedometer") }}
                                    </div>
                                    <span
                                        id="print-speed"
                                        class="form-control text-center small"
                                        title="Print Speed"
                                        aria-describedby="printSpeed"
                                    >
                                        0mm/s
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
